{% load staticfiles %}
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>

<html lang="en">
<head>
<title>One Movies an Entertainment Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'login/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'login/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'login/css/my-style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'login/css/contactstyle.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'login/css/faqstyle.css' %}" type="text/css" media="all" />
<link href="{% static 'login/css/single.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'login/css/medile.css' %}" rel='stylesheet' type='text/css' />
<!-- banner-slider -->
<link href="{% static 'login/css/jquery.slidey.min.css' %}" rel="stylesheet">
<!-- //banner-slider -->
<!-- pop-up -->
<link href="{% static 'login/css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //pop-up -->
<!-- font-awesome icons -->
<link rel="stylesheet" href="{% static 'login/css/font-awesome.min.css' %}" />
<!-- //font-awesome icons -->
<!-- js -->
<script type="text/javascript" src="{% static 'login/js/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<!-- banner-bottom-plugin -->
<link href="{% static 'login/css/owl.carousel.css' %}" rel="stylesheet" type="text/css" media="all">
<script src="{% static 'login/js/owl.carousel.js' %}"></script>
<script>
	$(document).ready(function() { 
		$("#owl-demo").owlCarousel({
	 
		  autoPlay: 3000, //Set AutoPlay to 3 seconds
	 
		  items : 5,
		  itemsDesktop : [640,4],
		  itemsDesktopSmall : [414,3]
	 
		});
	 
	}); 
</script> 
<!-- //banner-bottom-plugin -->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'login/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'login/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
	<div class="container">
		<div class="w3_search">
			<form action="{% url 'polls:search' %}" method="get">
<!--				{% csrf_token %}-->
				<input type="text" name="search_query" placeholder="Search" value="{{ search_query }}">
				<input type="hidden" name="page" value="{{ page }}">
				<input type="submit" value="Go">
			</form>
		</div>

		<div>
			<p>{{ numFound}} documents. ({{ qtime }} millisecond)</p>
		</div>

		{% for doc in documents %}
		<div class="row">
			<h4 class="title">{{ doc.title }}</h4>
			<p class="intro">{{ doc.hl_content | safe }}...</p>
			<hr>
		</div>
		{% endfor %}

		<div class="row">
			<nav aria-label="Page navigation example">
			  <ul class="pagination justify-content-center">
				  {% if page == 1 %}
				  <li class="page-item disabled">
					  <a class="page-link" href="#" tabindex="-1">Previous</a>
				  {% else %}
				  <li class="page-item">
					  <a class="page-link"
						 href="{% url 'polls:search' %}?search_query={{ search_query }}&page={{ page |add:-1}}"
						 tabindex="-1">Previous</a>
				  {% endif %}
				  </li>
				  {% for p in pages%}
					  <li class="page-item">
						  {% if p == page %}
						  <a class="page-link" style="background-color: lavender"
							 href="{% url 'polls:search' %}?search_query={{ search_query }}&page={{ p }}">
							  {{ p }}
						  </a>
						  {% else %}
						  <a class="page-link" href="{% url 'polls:search' %}?search_query={{ search_query }}&page={{ p }}">
							  {{ p }}
						  </a>
						  {% endif %}
					  </li>
				  {% endfor %}

				  {% if page == end_page %}
					<li class="page-item disabled">
					  <a class="page-link" href="#">Next</a>
					</li>
				  {% else %}
					<li class="page-item">
					  <a class="page-link" href="{% url 'polls:search' %}?search_query={{ search_query }}&page={{ page |add:1}}">Next</a>
					</li>
				  {% endif %}
			  </ul>
			</nav>
		</div>

	</div>
</body>
</html>
